body {
  background: url("images/gradient-dark.jpg") center / cover no-repeat;
  margin: 0;
  min-height: 100vh;
  font-family: "Syne", sans-serif;
}
.meteo-app {
  max-width: 900px;
  margin: 30px auto;
  padding: 28px;

  background: rgba(255, 255, 255, 0.12);
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.4);
}
.search-form {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
.search-form-input {
  flex: 1;
  padding: 20px 36px;

  border-radius: 40px;
  border: none;

  font-family: "Geist Mono";
  font-size: 14px;
  text-transform: uppercase;
  color: #121111;
}

input::placeholder {
  color: #121111;
}
.search-form-button {
  padding: 18px 28px;
  width: auto;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 40px;
  color: #002539;
  font-family: "syne";
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 20px;
  width: 28%;
  transition: all 0.5s ease;
}
.search-form-button:hover {
  background: white;
  color: #020000;
}
.weather-card {
  background: #121111;
  color: #fffce9;
  border-radius: 24px;
  padding: 32px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
h1 {
  font-family: "Syne";
  background: linear-gradient(to left, #d1a79d, #adc0c8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 70px;
  margin: 0;
}
h2 {
  font-family: "syne";
  font-size: 22px;
  color: #fffce9;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 8px;
}
.date {
  margin-top: 20px;
  font-family: "Geist Mono";
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.8;
  line-height: 1.6;
}
.current-right {
  text-align: right;
}

.condition {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
#icon-weather {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 50px;
}

.atmos {
  font-family: "Geist Mono";
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.6;
  opacity: 0.85;
}

#description {
  font-size: 35px;
  font-family: "Geist Mono";
  text-transform: uppercase;
}

.forecast-wrapper {
  margin-top: 30px;
  background: transparent;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  gap: 16px;
}
.weather-forecast > div {
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  aspect-ratio: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 14px;
}

.weather-forecast-date {
  text-align: center;
  font-family: "Geist mono";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fffce9;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.weather-forecast-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  font-family: "Geist Mono";
  font-size: 14px;
  text-align: center;
  color: #fffce9;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 5px;
}
.weather-forecast > div {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 16px;
  text-align: center;
}
strong {
  color: #fffce9;
}
footer {
  font-family: "geist Mono";
  margin-top: 40px;
  color: #fffce9;
  font-size: 11px;
  text-align: center;
}
a {
  font-style: normal;
  color: #fffce9;
  border-radius: 10px;
  padding: 2px;
  font-weight: 900;
  text-align: center;
  margin: 20px auto;
  transition: all 0.5s ease;
}
a:hover {
  color: #eb2ea2;
  text-decoration: none;
}

@media (max-width: 768px) {
  .details {
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 25px;
  }
  .search-form {
    flex-direction: column;
  }
  .search-form-input,
  .search-form-button {
    width: 100%;
    margin: 0;
  }
  .search-form-button {
    margin-top: 10px;
  }
  h1 {
    font-size: 3rem;
    margin-left: 0;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }
  .current-weather {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
  }
  .current-right {
    text-align: center;
  }
  .date {
    width: auto;
    height: auto;
    font-size: 10px;
    line-height: 1.4;
    margin: 16px auto 0;
    text-align: center;
  }
  .condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  #icon-weather {
    margin-left: -60px;
    margin-top: -40px;
    margin-bottom: 40px;
  }

  #description {
    font-size: 28px;
    text-align: center;
  }

  .atmos {
    text-align: center;
    margin-top: 8px;
  }
  .weather-forecast {
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
    gap: 20px;
    padding: 30 20px;
  }

  .weather-forecast > div {
    aspect-ratio: auto;
  }
}
