body {
  background: url("images/gradient.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}
.meteo-app {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  max-width: 900px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 0px 0px 30px rgba(97, 97, 97, 0.3);
  border-radius: 30px;
}
.search-form {
  align-items: center;
}
.search-form-input {
  background: white;
  border-radius: 10px;
  border: none;
  font-family: "Geist Mono";
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 40px;
  width: 70%;
}
.search-form-button {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 10px;
  color: #002539;
  font-family: "syne";
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 20px;
  width: 28%;
  transition: all 0.5s ease;
}
.search-form-button:hover {
  background: white;
  color: #002539;
}
h1 {
  font-family: "syne";
  font-size: 70px;
  color: #002539;
  margin-bottom: -25px;
  margin-left: 40px;
}
h2 {
  font-family: "syne";
  font-size: 25px;
  color: #002539;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 30px;
}
.details {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  font-family: "Geist Mono";
  text-transform: uppercase;
  background: #002539;
  color: white;
  padding: 40px;
  border-radius: 20px;
  position: relative;
  z-index: 10;
}
#condition {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
#description {
  font-size: 35px;
}
#icon-weather {
  margin-top: -30px;
  width: 40px;
  height: 40px;
}
.atmos {
  margin-left: 40%;
}

.date {
  background: url("images/texture-pattern.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #002539;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.weather-forecast {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  margin-top: -30px;
  padding: 50px;
  z-index: 1;
  position: relative;
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  text-align: center;
  font-family: "Geist mono";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #90a6b2;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.weather-forecast-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  font-family: "Syne";
  font-size: 14px;
  text-align: center;
  color: #90a6b2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 5px;
}
strong {
  color: #00466b;
}
footer {
  font-family: "geist Mono";

  margin-top: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}
a {
  text-transform: uppercase;
  color: #002539;
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  transition: all 0.5s ease;
}
a:hover {
  color: #eb2ea2;
  text-decoration: none;
}
