body {
  background: white;
}
.meteo-app {
  background: #00466b;
  max-width: 700px;
  margin: 50px auto;
  padding: 60px;
  box-shadow: 0px 0px 40px rgba(77, 76, 79, 0.5);
  border-radius: 30px;
}
.search-form {
  align-items: center;
}
.search-form-input {
  background: white;
  border-radius: 10px;
  border: none;
  font-family: "Geist Mono";
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 40px;
  width: 65%;
}
.search-form-button {
  background: white;
  border: none;
  border-radius: 10px;
  color: #002539;
  font-family: "syne";
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 20px;
  width: 30%;
}
h1 {
  font-family: "syne";
  font-size: 80px;
  color: white;
  margin-bottom: -25px;
  margin-left: 40px;
}
h2 {
  font-family: "syne";
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin-left: 40px;
}
.details {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  font-family: "Geist Mono";
  text-transform: uppercase;
  background: #fed905;
  color: #002539;
  padding: 40px;
  border-radius: 30px;
}
.atmos {
  margin-top: 30px;
}
#description {
  font-size: 35px;
}
#icon-weather {
  margin-top: -20px;
}
.date {
  background: url("images/motion-graphic-pixel.gif");
  position: relative;
  z-index: 1;
  max-width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #002539;
  padding: 40px 30px 40px;
  border-radius: 20px;
  font-weight: 700;
}
.clock {
  font-size: 30px;
  text-align: center;
}
footer {
  font-family: "geist Mono";
  margin-top: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}
a {
  text-transform: uppercase;
  color: #fed905;
  text-align: center;
  margin: 20px auto;
}
